.Reset {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  background-color: #23232e;
  color: #df4adf;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Reset:hover {
  transition: 150ms;
  background-color: #df4adf;
  color: #23232e;
}