@page "/Forca"
@using TrabalhoFinal.Components
@using TrabalhoFinal.models.forca
<head>
    <link rel="stylesheet" href="css/forca.css">
    <link rel="stylesheet" href="css/ResetBtn.css">
</head>
<main>
    <body class="body" @onkeyup="e => VerificarInputEvent(e)">
        <div class="jogo">
            <div class ="ImagemForca">
            <img src="@forca.BonecoDaForca[forca.IndexDoBoneco]">
            </div>
            <div class="PalavraSecreta">
                @if (forca.Dica != null)
                {
                    foreach (var item in forca.Dica){ <span>@item</span> }
                }
            </div>
            <input type="char" @bind="input"  >
            <div class="SeletorDeDificuldade">
                <label>Selecione um tema</label>
                    <select @bind="tema">
                        <option value='comida' @onclick="e => forca.EscolherTema(tema)">comida</option>
                        <option value='jogos' @onclick="e => forca.EscolherTema(tema)">jogos</option>
                        <option value='programacao' @onclick="e => forca.EscolherTema(tema)">programação</option>
                    </select>
            </div>
            <p>@forca.TextoDeFimDejogo</p>
        </div>
        <ResetBtn/>
    </body>
</main>

@code{
    private Forca forca = new Forca();
    private char input;
    private string tema = "";
    async Task VerificarInputEvent(KeyboardEventArgs e)
    {
        await Task.Run(() =>
        {
            if (e.Key == "Enter") forca.VerificarResposta(input);
            forca.VerificarFimDeJogo();
        });
    }

}