@page "/"
<head>
    <Style>
        .hello{
            margin-top: 10rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
        }
        footer{
            display: flex;
            text-align: center;
            margin-top: 40rem;
            justify-content: center;
        }
    </Style>
</head>
<main>
    <h1 class="hello">Hello, World !</h1>
    <footer>Feito por: <br>Fabricio Duarte e Heloisa Rocco</footer>
</main>
@code{

}