@page "/"
<head>
    <Style>
        .hello{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
        }
    </Style>
</head>
<main>
    <h1 class="hello">Hello, World !</h1>
</main>
@code{
    
}