<div class="SideBar">

    <nav class="NavBar">
        <ul class="nav-bar">

            <li class="nav-item">
                <a href="/JogoDaVelha" class="nav-link">
                    <?xml version="1.0"?>
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        height="512px" 
                        viewBox="0 0 512 512" 
                        width="512px" 
                        class="">
                        <g>
                            <path d="m135.667969 180.667969h-120.667969c-8.285156 0-15 6.714843-15 15v120.667969c0 8.28125 6.714844 15 15 15h120.667969c8.28125 0 15-6.71875 15-15v-120.667969c0-8.285157-6.71875-15-15-15zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m256 238.867188c-9.445312 0-17.132812 7.6875-17.132812 17.132812s7.6875 17.132812 17.132812 17.132812 17.132812-7.6875 17.132812-17.132812-7.6875-17.132812-17.132812-17.132812zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m316.332031 180.667969h-120.664062c-8.285157 0-15 6.714843-15 15v120.667969c0 8.28125 6.714843 15 15 15h120.667969c8.28125 0 15-6.71875 15-15v-120.667969c-.003907-8.285157-6.71875-15-15.003907-15zm-60.332031 122.464843c-25.988281 0-47.132812-21.144531-47.132812-47.132812s21.144531-47.132812 47.132812-47.132812 47.132812 21.144531 47.132812 47.132812-21.144531 47.132812-47.132812 47.132812zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m497 180.667969h-120.667969c-8.28125 0-15 6.714843-15 15v120.667969c0 8.28125 6.71875 15 15 15h120.667969c8.285156 0 15-6.71875 15-15v-120.667969c0-8.285157-6.714844-15-15-15zm-17.59375 96.859375c5.859375 5.859375 5.859375 15.355468 0 21.210937-5.855469 5.859375-15.355469 5.859375-21.214844 0l-21.527344-21.523437-21.523437 21.523437c-5.855469 5.859375-15.355469 5.859375-21.214844 0-5.855469-5.855469-5.855469-15.351562 0-21.210937l21.527344-21.527344-21.527344-21.527344c-5.855469-5.859375-5.855469-15.355468 0-21.210937 5.859375-5.859375 15.355469-5.859375 21.214844 0l21.527344 21.523437 21.527343-21.523437c5.855469-5.859375 15.355469-5.859375 21.210938 0 5.859375 5.855469 5.859375 15.351562 0 21.210937l-21.527344 21.527344zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m75.332031 58.199219c-9.445312 0-17.132812 7.6875-17.132812 17.132812 0 9.449219 7.6875 17.132813 17.132812 17.132813 9.449219 0 17.136719-7.683594 17.136719-17.132813 0-9.445312-7.6875-17.132812-17.136719-17.132812zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m135.667969 0h-120.667969c-8.285156 0-15 6.714844-15 15v120.667969c0 8.28125 6.714844 15 15 15h120.667969c8.28125 0 15-6.71875 15-15v-120.667969c0-8.285156-6.71875-15-15-15zm-60.335938 122.46875c-25.988281 0-47.132812-21.144531-47.132812-47.132812 0-25.992188 21.144531-47.136719 47.132812-47.136719s47.136719 21.144531 47.136719 47.132812-21.148438 47.136719-47.136719 47.136719zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m316.332031 0h-120.664062c-8.285157 0-15 6.714844-15 15v120.667969c0 8.28125 6.714843 15 15 15h120.667969c8.28125 0 15-6.71875 15-15v-120.667969c-.003907-8.285156-6.71875-15-15.003907-15zm-17.59375 96.859375c5.859375 5.859375 5.859375 15.355469 0 21.214844-5.855469 5.855469-15.351562 5.859375-21.210937 0l-21.527344-21.527344-21.527344 21.527344c-5.855468 5.855469-15.355468 5.859375-21.210937 0-5.859375-5.859375-5.859375-15.355469 0-21.214844l21.523437-21.527344-21.523437-21.523437c-5.859375-5.859375-5.859375-15.355469 0-21.214844 5.855469-5.859375 15.351562-5.859375 21.210937 0l21.527344 21.527344 21.527344-21.527344c5.855468-5.859375 15.355468-5.859375 21.210937 0 5.859375 5.855469 5.859375 15.355469 0 21.210938l-21.523437 21.527343zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m497 0h-120.667969c-8.28125 0-15 6.714844-15 15v120.667969c0 8.28125 6.71875 15 15 15h120.667969c8.285156 0 15-6.71875 15-15v-120.667969c0-8.285156-6.714844-15-15-15zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m135.667969 361.332031h-120.667969c-8.285156 0-15 6.71875-15 15v120.667969c0 8.285156 6.714844 15 15 15h120.667969c8.28125 0 15-6.714844 15-15v-120.667969c0-8.28125-6.71875-15-15-15zm-17.59375 96.863281c5.855469 5.855469 5.855469 15.355469 0 21.210938-5.855469 5.859375-15.355469 5.859375-21.214844 0l-21.527344-21.527344-21.527343 21.527344c-5.855469 5.859375-15.355469 5.859375-21.210938 0-5.859375-5.855469-5.859375-15.355469 0-21.210938l21.527344-21.527343-21.527344-21.527344c-5.859375-5.859375-5.859375-15.355469 0-21.214844 5.855469-5.855469 15.355469-5.855469 21.214844 0l21.527344 21.527344 21.523437-21.527344c5.859375-5.855469 15.355469-5.855469 21.214844 0 5.859375 5.859375 5.859375 15.355469 0 21.214844l-21.527344 21.527344zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m316.332031 361.332031h-120.664062c-8.285157 0-15 6.71875-15 15v120.667969c0 8.285156 6.714843 15 15 15h120.667969c8.28125 0 15-6.714844 15-15v-120.667969c-.003907-8.28125-6.71875-15-15.003907-15zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m436.667969 419.53125c-9.449219 0-17.136719 7.6875-17.136719 17.132812 0 9.449219 7.6875 17.136719 17.136719 17.136719 9.445312 0 17.132812-7.6875 17.132812-17.136719 0-9.445312-7.6875-17.132812-17.132812-17.132812zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                            <path d="m497 361.332031h-120.667969c-8.28125 0-15 6.71875-15 15v120.667969c0 8.285156 6.71875 15 15 15h120.667969c8.285156 0 15-6.714844 15-15v-120.667969c0-8.28125-6.714844-15-15-15zm-60.332031 122.46875c-25.988281 0-47.136719-21.144531-47.136719-47.132812s21.148438-47.132813 47.136719-47.132813 47.132812 21.144532 47.132812 47.132813-21.144531 47.132812-47.132812 47.132812zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        </g> 
                    </svg>
                    <span class="link-text" style="text-align: center;">Jogo Da Velha</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/AdivinheSePoder" class="nav-link">
                <?xml version="1.0"?>
                    <?xml version="1.0"?>
                    <?xml version="1.0"?>
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        height="512px" 
                        viewBox="0 -110 512 512" 
                        width="512px"><g>
                        <path d="m247.335938 62.089844c-11.992188 11.636718-25.582032 24.828125-32.476563 40.308594-2.066406 4.636718-1.644531 10.007812 1.125 14.269531 2.765625 4.261719 7.5 6.832031 12.578125 6.832031h52.132812c8.285157 0 15-6.71875 15-15 0-8.285156-6.714843-15-15-15h-22.441406c3.277344-3.382812 6.695313-6.703125 9.976563-9.882812 14.738281-14.304688 27.46875-26.660157 27.46875-42.125 0-22.878907-18.613281-41.492188-41.488281-41.492188-16.71875 0-31.714844 9.949219-38.207032 25.351562-3.21875 7.632813.359375 16.429688 7.992188 19.648438 7.636718 3.222656 16.433594-.359375 19.648437-7.992188 1.796875-4.257812 5.941407-7.007812 10.566407-7.007812 6.234374 0 11.328124 4.996094 11.484374 11.199219-1.152343 4.1875-11.492187 14.222656-18.359374 20.890625zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m26.257812 57.996094 6.351563-6.355469v41.738281h-10.488281c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h50.96875c8.28125 0 15-6.714844 15-15s-6.71875-15-15-15h-10.480469v-77.976562c0-6.066406-3.65625-11.539063-9.261719-13.855469-5.605468-2.324219-12.058594-1.035156-16.347656 3.253906l-31.964844 31.992188c-5.855468 5.859375-5.851562 15.359375.011719 21.214843 5.859375 5.851563 15.355469 5.851563 21.210937-.011718zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m466.519531 147.070312c-12.148437 0-23.570312 4.734376-32.160156 13.328126s-13.320313 20.019531-13.320313 32.167968c0 25.085938 20.402344 45.496094 45.480469 45.5 12.148438 0 23.570313-4.734375 32.160157-13.328125 8.589843-8.59375 13.320312-20.019531 13.320312-32.167969 0-25.089843-20.402344-45.5-45.480469-45.5zm10.945313 56.460938c-2.925782 2.921875-6.8125 4.535156-10.945313 4.535156-8.535156 0-15.480469-6.953125-15.480469-15.496094 0-4.140624 1.613282-8.035156 4.539063-10.960937 2.921875-2.925781 6.808594-4.535156 10.941406-4.535156 8.539063 0 15.480469 6.949219 15.480469 15.496093 0 4.140626-1.609375 8.03125-4.535156 10.960938zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m254.851562 238.066406c12.148438 0 23.570313-4.734375 32.160157-13.328125 8.589843-8.59375 13.316406-20.015625 13.316406-32.167969 0-25.085937-20.402344-45.496093-45.476563-45.496093-.003906 0 0 0-.003906 0-12.148437 0-23.570312 4.730469-32.160156 13.328125-8.585938 8.589844-13.316406 20.015625-13.316406 32.167968 0 25.085938 20.402344 45.496094 45.480468 45.496094zm-10.945312-56.457031c2.921875-2.925781 6.8125-4.539063 10.945312-4.539063 8.535157 0 15.476563 6.953126 15.476563 15.5 0 4.140626-1.609375 8.03125-4.535156 10.957032-2.925781 2.925781-6.808594 4.539062-10.941407 4.539062-8.539062 0-15.480468-6.953125-15.480468-15.5 0-4.140625 1.609375-8.03125 4.535156-10.957031zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m137.320312 193.898438c0-7.820313-6.335937-14.15625-14.148437-14.15625-7.816406 0-14.148437 6.335937-14.148437 14.15625 0 7.816406 6.332031 14.15625 14.148437 14.15625 7.8125 0 14.148437-6.339844 14.148437-14.15625zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m191.820312 193.898438c0-7.820313-6.332031-14.15625-14.144531-14.15625-7.816406 0-14.148437 6.335937-14.148437 14.15625 0 7.816406 6.332031 14.15625 14.148437 14.15625 7.8125 0 14.144531-6.339844 14.144531-14.15625zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m345.972656 193.898438c0-7.820313-6.332031-14.15625-14.148437-14.15625-7.8125 0-14.148438 6.335937-14.148438 14.15625 0 7.816406 6.335938 14.15625 14.148438 14.15625 7.816406 0 14.148437-6.339844 14.148437-14.15625zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m400.476562 193.898438c0-7.820313-6.332031-14.15625-14.148437-14.15625-7.8125 0-14.148437 6.335937-14.148437 14.15625 0 7.816406 6.335937 14.15625 14.148437 14.15625 7.816406 0 14.148437-6.339844 14.148437-14.15625zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m293.519531 261.601562h-74.589843c-8.285157 0-15 6.714844-15 15 0 8.285157 6.714843 15 15 15h74.589843c8.285157 0 15-6.714843 15-15 0-8.285156-6.714843-15-15-15zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m77.269531 149.011719-41.566406 41.6875-10.09375-10.097657c-5.855469-5.863281-15.351563-5.863281-21.210937-.007812-5.863282 5.855469-5.863282 15.351562-.007813 21.210938l20.714844 20.726562c2.8125 2.816406 6.628906 4.398438 10.609375 4.398438h.007812c3.980469 0 7.800782-1.585938 10.613282-4.40625l52.175781-52.328126c5.851562-5.867187 5.835937-15.363281-.03125-21.210937-5.863281-5.851563-15.363281-5.835937-21.210938.027344zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                        <path d="m466.082031 123.832031c22.613281 0 40.835938-18.039062 41.484375-41.070312.164063-5.882813-.660156-20.820313-11.878906-32.359375-1.839844-1.894532-4.195312-3.910156-7.144531-5.75l15.027343-20.242188c3.378907-4.550781 3.90625-10.621094 1.359376-15.683594-2.546876-5.0625-7.734376-8.257812-13.402344-8.257812h-44.972656c-8.285157 0-15 6.714844-15 15s6.714843 15 15 15h15.15625l-10.144532 13.660156c-3.378906 4.550782-3.90625 10.617188-1.355468 15.683594 2.546874 5.0625 7.730468 8.257812 13.398437 8.257812 4.917969 0 8.476563 1.09375 10.570313 3.246094 2.652343 2.730469 3.488281 7.417969 3.398437 10.605469-.1875 6.679687-5.238281 11.910156-11.496094 11.910156-4.621093 0-8.765625-2.75-10.5625-7.003906-3.214843-7.636719-12.015625-11.214844-19.648437-7.996094-7.632813 3.21875-11.210938 12.015625-7.992188 19.648438 6.492188 15.402343 21.488282 25.351562 38.203125 25.351562zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/></g> 
                        </svg>
                    <span class="link-text" style="text-align: center;">Adivinhe Se Puder</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Forca" class="nav-link">
                   <?xml version="1.0"?>
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            height="512px" 
                            viewBox="0 0 34 60" 
                            width="512px">
                            <g>
                                <g id="Page-1" 
                                    fill="none" 
                                    fill-rule="evenodd">
                                <g id="021---Hang-Man" 
                                    fill="rgb(0,0,0)" 
                                    fill-rule="nonzero" 
                                    transform="translate(0 -1)">
                                <path id="Shape" 
                                    d="m20.79 6.579c-.4919062-.98816174-1.6913714-1.39096722-2.68-.9l1.78-.89c.6626731-.30438398 1.1071519-.94532127 1.159949-1.67264358.0527971-.72732232-.294457-1.42573234-.9062235-1.82262923-.6117664-.39689688-1.391066-.42936334-2.0337255-.08472719l-4 2c-.6626731.30438398-1.1071519.94532127-1.159949 1.67264358-.0527971.72732232.294457 1.42573234.9062235 1.82262923.6117664.39689688 1.391066.42936334 2.0337255.08472719l-1.78.89c-.9022414.46085375-1.3173635 1.52356985-.9663874 2.47396.3509761.9503902 1.3571738 1.4882174 2.3423874 1.25204l-1.376.688c-.5007403.2446484-.8722414.692635-1.02 1.23 1.2871689-.2593836 2.5969563-.3900273 3.91-.39.7818694-.0024 1.563208.0410077 2.34.13.38.04.76.1 1.13.16.5967423-.6458627.6991225-1.6067079.2518693-2.3638107s-1.3382074-1.13114269-2.1918693-.9201893l1.36-.68c.9881617-.49190619 1.3909672-1.6913714.9-2.68z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                                    <path id="Shape" d="m19.11 15.12c-.7004277-.0806913-1.4049401-.1207583-2.11-.12-1.3244613.0008225-2.6451278.1416042-3.94.42-6.37 1.38-11.06 6.04-11.06 11.58 0 4.12 0 7.76 3.61 9.92.83197197.484784 1.72253015.8611708 2.65 1.12 2.8547727.7234549 5.7962569 1.046547 8.74.96 2.9437431.086547 5.8852273-.2365451 8.74-.96.9274699-.2588292 1.818028-.635216 2.65-1.12 3.61-2.16 3.61-5.8 3.61-9.92 0-6.06-5.61-11.06-12.89-11.88zm-5.11 18.88c0 .5522847-.4477153 1-1 1h-5c-.55228475 0-1-.4477153-1-1 .00517759-.3282449.17403685-.6321915.45-.81-.82845546-1.4717773-.48772241-3.3252398.81000835-4.4061476 1.29773077-1.0809078 3.18225255-1.0809078 4.47998325 0 1.2977308 1.0809078 1.6384639 2.9343703.8100084 4.4061476.2759631.1778085.4448224.4817551.45.81zm13 0c0 .5522847-.4477153 1-1 1h-5c-.5522847 0-1-.4477153-1-1 .0051776-.3282449.1740369-.6321915.45-.81-.8284555-1.4717773-.4877224-3.3252398.8100084-4.4061476 1.2977307-1.0809078 3.1822525-1.0809078 4.4799832 0 1.2977308 1.0809078 1.6384639 2.9343703.8100084 4.4061476.2759631.1778085.4448224.4817551.45.81z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                                    <circle id="Oval" cx="10.5" cy="31.5" r="1.5" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                                    <circle id="Oval" cx="23.5" cy="31.5" r="1.5" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/>
                                    <path id="Shape" d="m26.31 39.96c-3.0398023.7782951-6.1733877 1.1283411-9.31 1.04-3.1333456.0890857-6.263733-.2609791-9.3-1.04h-.01c-.3598857 1.5096621-.57750378 3.0497285-.65 4.6-.03594187.60096.06314934 1.2023411.29 1.76.09906365.2730648.23354595.5319432.4.77.22269824.3310035.49997029.621801.82.86 1.8355191 1.2120116 3.971528 1.8905493 6.17 1.96.7.06 1.45.09 2.28.09s1.58-.03 2.28-.09c2.198472-.0694507 4.3344809-.7479884 6.17-1.96.3200297-.238199.5973018-.5289965.82-.86.1664541-.2380568.3009363-.4969352.4-.77.2268507-.5576589.3259419-1.15904.29-1.76-.0724962-1.5502715-.2901143-3.0903379-.65-4.6zm-8.31 6.04h-2c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1h2c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/><path id="Shape" d="m3.74 38.07c-1.27307157 1.1775465-2.31139887 2.5857355-3.06 4.15-.76564952 1.4028488-.73524715 3.1053815.08 4.48.75 1.16 2.15 1.95 4.79.55-.03929996-.0739321-.07273599-.1508349-.1-.23-.31599023-.8147848-.45572643-1.687284-.41-2.56.07782752-1.678795.3155703-3.346343.71-4.98l.05-.22c-.42065845-.18172-.82829116-.3922188-1.22-.63-.29053949-.1703523-.57100576-.3573298-.84-.56z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/><path id="Shape" d="m33.32 42.22c-.7486011-1.5642645-1.7869284-2.9724535-3.06-4.15-.2688131.2059852-.5492784.396301-.84.57-.3928315.2357735-.8003285.4462023-1.22.63l.05.21c.3944297 1.633657.6321725 3.301205.71 4.98.0448339.8981462-.1052695 1.7953551-.44 2.63-.02.05-.04.1-.07.16 2.64 1.4 4.04.61 4.79-.55.8152472-1.3746185.8456495-3.0771512.08-4.48z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/><path id="Shape" d="m7.48 49.64c-.40602684 2.6930472-.54336863 5.4197842-.41 8.14.07862332 1.5998525 1.29153871 2.9138441 2.88 3.12.0964299.0083255.1932256.0116633.29.01 1.2273854-.012722 2.3406369-.7225653 2.87-1.83.9980543-2.260391 1.5286894-4.6992714 1.56-7.17-.04 0-.08-.01-.12-.01-2.5164031-.1073239-4.9579328-.8877846-7.07-2.26z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/><path id="Shape" d="m19.46 51.9c-.04 0-.09.01-.13.01.0313106 2.4707286.5619457 4.909609 1.56 7.17.5293631 1.1074347 1.6426146 1.817278 2.87 1.83.0967744.0016633.1935701-.0016745.29-.01 1.5884613-.2061559 2.8013767-1.5201475 2.88-3.12.1333686-2.7202158-.0039732-5.4469528-.41-8.14-2.1090488 1.3707837-4.5469746 2.1511962-7.06 2.26z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#D7D7FF"/></g></g></g> </svg>

                    <span class="link-text" style="text-align: center;">Forca</span>
                </a>
            </li>

             <li class="nav-item">
                <a href="https://github.com/fabriciohod/TrabalhoFinal" class="nav-link">
                   <svg aria-hidden="true" 
                    focusable="false" 
                    data-prefix="fab" 
                    data-icon="github" 
                    class="svg-inline--fa fa-github fa-w-16" 
                    role="img" 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 496 512">
                    <path 
                    fill="currentColor" 
                    d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z">
                    </path>
                   </svg>
                    <span class="link-text" style="text-align: center;">Repositorio</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

